/* ==UserStyle==
@name           LumiNUS Dark
@namespace      github.com/jeffsieu/luminus-dark
@version        1.0.12
@description    A dark theme for LumiNUS
@author         Jeff Sieu & Jonathan Lee
==/UserStyle== */

@-moz-document domain("luminus.nus.edu.sg") {
  body {
    --primaryColor: #323232 !important;
    --primaryColorLight: #74a4e1 !important;
    --background: #121212 !important;
    --backgroundLightHalf: #1f1f1f !important;
    --backgroundLight: #222 !important;
    --selectedButtonText: #ffbb82 !important;
    --hoveredButtonText: #ccc !important;
    --selectedBackground: #545659 !important;
    --activeBackground: #404040 !important;
    --hoveredBackground: #515151 !important;
    --activeNavBackground: #354557 !important;
    --hoveredNavBackground: #293542 !important;
    --activeMainNavBackground: #44586d !important;
    --hoveredMainNavBackground: #354557 !important;
    --textColor: #dfdfdf !important;
    --textSecondaryColor: #a6a6a6 !important;
    --textFocusColor: #ccc !important;
    --hoverTextColor: #acacac !important;
    --linkColor: #8cb6e9 !important;
    --accentColor: #fac789 !important;
    --headingColor: #9b9b9b !important;
    --highlightColor: #404040 !important;
    --hintColor: #757575 !important;
    --dividerColor: #757575 !important;
    --green: #73d05c !important;
    --red: #ff757e !important;
    --invertedTextWhite: #000000 !important;
  }

  body {
    background-color: var(--background);
    color: var(--textColor);
  }

  /* Secondary text */
  h1 small,
  h1 .small,
  h2 small,
  h2 .small,
  h3 small,
  h3 .small,
  h4 small,
  h4 .small,
  h5 small,
  h5 .small,
  h6 small,
  h6 .small,
  .h1 small,
  .h1 .small,
  .h2 small,
  .h2 .small,
  .h3 small,
  .h3 .small,
  .h4 small,
  .h4 .small,
  .h5 small,
  .h5 .small,
  .h6 small,
  .h6 .small {
    color: var(--textSecondaryColor);
  }

  .task .task-info .module,
  .task .task-info .due,
  article .activity-info .title small {
    color: var(--textSecondaryColor) !important;
  }

  /* Custom scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--backgroundLight) !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--selectedBackground) !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }

  a,
  .btn-link,
  .btn-icon {
    color: var(--linkColor);
  }

  .btn-default {
    color: var(--textColor);
    background-color: var(--activeBackground);
  }

  .btn-default:hover {
    color: var(--textColor);
    background-color: var(--selectedBackground);
  }

  .btn-default:focus,
  .btn-default:active {
    color: var(--textColor) !important;
    background-color: var(--hoveredBackground) !important;
  }

  /* Green */
  .task.completed .from-now,
  .open {
    color: var(--green) !important;
  }

  .task.completed :before {
    background-color: var(--green) !important;
  }

  /* Red */
  .closed,
  .closed-text,
  .mark-obtained-incorrect,
  header span.text-danger,
  .danger,
  [style*="color: #ff0000"] {
    color: var(--red) !important;
  }

  /* Blue */
  [style*="color: blue"],
  nav.pills.vertical .color-blue,
  ol.breadcrumb a,
  .alerts .pinned-news .notification-item .notification-info span,
  .alerts .notifications .notification-item .notification-info span {
    color: var(--primaryColorLight) !important;
  }

  /* Black */
  [style*="color: black"] {
    color: var(--textColor) !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primaryColorLight);
  }

  .hint {
    color: var(--textSecondaryColor) !important;
  }

  .single-module {
    background: var(--background) !important;
  }

  activity-list-item-subsection {
    background: var(--background) !important;
  }

  @media (max-width: 1199px) and (min-width: 768px) {
    a.open-menu {
      color: var(--primaryColorLight) !important;
    }

    a.open-menu .icon-stroke {
      stroke: var(--primaryColorLight) !important;
    }
  }

  @media (max-width: 767px) {
    .horizontal a.open-menu .icon-fill#Menu {
      fill: var(--primaryColorLight) !important;
    }
  }

  .actual-navs,
  .no-categories {
    background: var(--backgroundLight) !important;
  }

  .no-categories {
    border-color: var(--dividerColor) !important;
  }

  .name.disable-select p.black {
    color: var(--textColor) !important;
  }

  /* Icons */
  i.fa {
    color: var(--textColor) !important;
  }

  .meetingPassword icon {
    filter: invert() brightness(0.75);
  }

  button.close {
    opacity: 0.6 !important;
  }
  
  .close:hover,
  .close:focus {
    opacity: 0.8 !important;
  }

  div.name-container folder-icon {
    filter: invert() contrast(0.85);
  }

  .stat-icon svg g g.icon-fill {
    fill: white !important;
  }

  .tool > icon,
  .icon-wrapper > icon {
    filter: invert();
  }

  .icon-stroke {
    stroke: white !important;
  }

  @media (max-width: 767px) {
    main-nav {
      background: var(--backgroundLight) !important;
    }

    .subapplication-navigation a:not(.active) {
      border-color: var(--backgroundLight) !important;
    }
  }

  /* Left sidenav */
  @media (min-width: 1200px) {
    .main-nav,
    .subapplication-navigation {
      background-color: var(--primaryColor) !important;
    }

    .subapplication-navigation a.active {
      color: var(--accentColor) !important;
    }

    .main-nav ul a:hover {
      background-color: var(--hoveredMainNavBackground) !important;
    }

    .main-nav ul a:active {
      background-color: var(--activeMainNavBackground) !important;
    }

    .main-content {
      background-color: var(--background) !important;
      color: var(--textColor);
    }

    /* Side nav for profile page */
    ng-component > aside {
      background: var(--backgroundLight) !important;
    }

    aside:first-child,
    .layout-header {
      background: var(--backgroundLight) !important;
    }

    .main-content .layout-header {
      background: var(--background) !important;
    }

    .main-content tool-header:last-child {
      background: var(--backgroundLightHalf) !important;
      border: none;
    }
  }

  @media (max-width: 1199px) and (min-width: 768px) {
    .faux-main-nav {
      background-color: var(--primaryColor) !important;
    }

    .main-nav a,
    .subapplication-navigation a {
      color: var(--textColor) !important;
    }

    .main-nav a:hover,
    .subapplication-navigation a:hover {
      background: var(--hoveredBackground) !important;
    }

    .main-nav a.active,
    .subapplication-navigation a.active {
      border-color: var(--accentColor) !important;
    }

    aside {
      background: var(--backgroundLightHalf);
    }
  }

  @media (max-width: 991px) {
    .single-module > ng-component {
      background: var(--background) !important;
    }
  }

  @media (max-width: 767px) {
    list-view-item {
      background: var(--backgroundLight) !important;
    }

    column {
      color: var(--textColor) !important;
    }

    .layout-header {
      background: var(--primaryColor) !important;
    }
  }

  nav.pills {
    background: var(--backgroundLight) !important;
  }

  nav.pills a {
    color: var(--textColor);
  }

  nav.pills a.selected,
  nav.pills .overview-selected {
    color: var(--linkColor) !important;
    background: var(--activeNavBackground);
  }

  nav.pills a:hover {
    background: var(--hoveredNavBackground);
  }

  .module-navigation {
    background-color: var(--background) !important;
  }

  .fixed-things.nav-tab,
  .nav-wrap nav.nav.nav-underline {
    background: var(--backgroundLightHalf) !important;
  }

  .nav-underline a.active,
  .nav-underline .btn-link.active,
  .nav-underline .active.btn-icon {
    border-color: var(--accentColor) !important;
  }

  @media (min-width: 768px) {
    .main-content > .header {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 4.1666666667vw !important;
      padding-right: 4.1666666667vw !important;
      background: var(--backgroundLightHalf);
      border: none;
    }

    .main-content .layout-header {
      background: var(--backgroundLightHalf) !important;
    }
  }

  .infolet-box,
  timetable-module-items,
  timetable-exams {
    background: var(--backgroundLight) !important;
    border-color: var(--backgroundLight) !important;
    color: var(--textColor) !important;
  }

  .module-code {
    color: var(--primaryColorLight) !important;
  }

  @media (min-width: 768px) {
    aside .layout-header small {
      color: var(--primaryColorLight) !important;
    }

    .horizontal .nav.nav-underline {
      border-bottom: none !important;
    }
  }

  @media (min-width: 1200px) {
    aside header p {
      color: var(--textSecondaryColor) !important;
    }
  }

  /* Task report */
  section column {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  @media (min-width: 1200px) {
    section header > div:last-child:not(.section-right) {
      background: var(--backgroundLight) !important;
      border-color: var(--dividerColor) !important;
    }

    .subapplication-navigation a.active,
    .subapplication-navigation .btn-link.active {
      border-bottom-color: var(--accentColor) !important;
    }
  }

  tool-header {
    border-color: var(--dividerColor) !important;
  }

  :not(.option-correct) > * > label.checkbox input + span:before {
    border-color: var(--backgroundLight) !important;
  }

  .option .checkbox input:not(:checked) + span:before {
    background: var(--background) !important;
    border: 1px solid var(--dividerColor) !important;
  }

  .checkbox input:not(:checked) + span:before {
    background: var(--activeBackground) !important;
  }

  /* Side bar announcements */
  task-list article,
  .upcoming-deadlines task-list div.task {
    background: var(--backgroundLight) !important;
    border-color: var(--backgroundLight) !important;
  }

  announcement-list-item article h3 {
    color: var(--textFocusColor) !important;
  }

  article time,
  article span.byline,
  article .delivery-channels {
    color: var(--textSecondaryColor) !important;
  }

  article .content-wrapper .fade-out {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      var(--backgroundLight) 85%
    ) !important;
  }

  /* Tool buttons */
  a.tool {
    color: var(--textColor) !important;
  }

  a.tool:hover {
    background: var(--hoveredBackground) !important;
  }

  a.tool:active {
    background: var(--activeBackground) !important;
  }

  /* Lesson view */
  .activity-list {
    border-color: var(--dividerColor) !important;
  }

  .activity-list > *,
  .lesson-view header,
  .lesson-view .activity-list activity-list-item:not(:first-child),
  .lessons {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  .lessons .lesson {
    color: var(--textColor) !important;
  }

  .lessons .lesson.current {
    background-color: var(--hoveredBackground) !important;
  }

  .lessons .lesson.selected span {
    background-color: var(--accentColor) !important;
    color: var(--background) !important;
  }

  .lesson.arrow .icon-stroke polyline {
    stroke: var(--textColor) !important;
  }

  /* Form control */
  .form-control:not([type="date"]) {
    background: var(--backgroundLight);
    border-color: var(--dividerColor);
    color: var(--textColor);
  }

  .form-control[type="date"] {
    filter: invert() contrast(0.85) brightness(1.4);
  }

  .search-field > div icon[name="search"] {
    background: transparent !important;
    box-shadow: none !important;
  }

  .search-field > div .icon-fill {
    fill: var(--hintColor) !important;
  }

  select {
    background: var(--backgroundLight);
  }

  .toggle-label {
    border-color: var(--dividerColor) !important;
  }

  .toggle-inner:after {
    color: var(--textColor) !important;
    background-color: var(--backgroundLight) !important;
  }

  .toggle-switch {
    background: var(--activeBackground) !important;
    border-color: var(--dividerColor) !important;
  }

  .countdown progress-bar .bar-wrapper,
  progress-bar .default {
    background: var(--activeBackground) !important;
  }

  .countdown progress-bar .bar-wrapper bar > .success {
    background: var(--primaryColorLight);
  }

  .line-series path.line {
    stroke: var(--accentColor) !important;
  }

  :not(.infolet-box) > table,
  :not(.infolet-box) > table td,
  :not(.infolet-box) > table th {
    color: initial !important;
    filter: hue-rotate(180deg) invert(1);
  }
  
  :not(.infolet-box) > table [style*="color: black"] {
    color: initial !important;
  }

  .infolet .infolet-table table.table thead {
    background-color: var(--backgroundLight) !important;
  }

  /* Pagination and toggle button */
  .pagination > li:not(.disabled):not(.active) > a,
  .pagination > li > span {
    background: var(--backgroundLight) !important;
  }

  .pagination > li:not(.active) > a:hover,
  .header-toggle .inactive:hover {
    background: var(--hoveredNavBackground) !important;
  }

  .pagination > li > a,
  .pagination > li > a:hover,
  .pagination > li > span {
    border-color: var(--dividerColor) !important;
    color: var(--linkColor);
  }

  .header-toggle {
    border-color: var(--primaryColorLight) !important;
  }

  .header-toggle .inactive {
    color: var(--textSecondaryColor) !important;
    background: var(--backgroundLight) !important;
    border-color: var(--textSecondaryColor) !important;
  }

  .header-toggle .active,
  .pagination > .active > a {
    background: var(--primaryColorLight) !important;
    background-color: var(--primaryColorLight) !important;
    color: black !important;
  }

  /* Module cards */
  a.module-card {
    background: var(--backgroundLight) !important;
    border-color: var(--backgroundLight) !important;
    color: var(--textColor) !important;
  }
  a.module-card h4 {
    padding-bottom: 5px;
  }

  a.module-card:hover {
    border-color: var(--accentColor) !important;
  }

  a.module-card .fade-out {
    background-image: none !important;
  }

  a.module-card abbr {
    color: var(--textFocusColor) !important;
  }

  a.module-card span {
    color: var(--textSecondaryColor) !important;
  }

  multimedia-statistics-chart {
    background-color: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  multimedia-statistics-chart .intervals-wrapper,
  multimedia-statistics-chart .date-range-wrapper {
    border-color: var(--dividerColor) !important;
  }

  .intervals-wrapper button {
    color: var(--textSecondaryColor) !important;
  }

  .intervals-wrapper button.active {
    color: var(--accentColor) !important;
  }

  /* Mini nav bar */
  .horizontal .nav.nav-underline > .active {
    color: var(--accentColor) !important;
    border-bottom-color: var(--accentColor) !important;
  }

  /* Login Page */
  .homepage {
    background-color: var(--background) !important;
  }

  .homepage .homepage-section-login {
    background-color: var(--backgroundLight) !important;
  }

  /* Home page */
  p {
    color: var(--textColor) !important;
  }

  .main-content {
    background: var(--background) !important;
  }

  .main-content h1,
  header h1,
  header h1 > *,
  h2,
  h4 {
    color: var(--textColor) !important;
  }

  .infolet-box {
    background: var(--backgroundLight) !important;
    border: none !important;
  }

  .new-announcements ng-star-inserted {
    background: var(--backgroundLight) !important;
  }

  .announcements section {
    background: var(--backgroundLight) !important;
    border: none;
    border-bottom: 1px solid var(--dividerColor) !important;
  }

  .announcements section .announcement {
    border-bottom: 1px solid var(--dividerColor) !important;
  }

  .announcements section h4,
  .content,
  .files-drop-zone .link,
  .files-drop-zone a,
  .content li,
  [style*="color: #333333"],
  .user-name {
    color: var(--textColor) !important;
  }

  /* Task list */
  .whats-due task-list {
    background: var(--backgroundLight) !important;
    border: none !important;
  }
  .whats-due .task {
    background: var(--backgroundLight) !important;
    border-bottom: 1px solid var(--dividerColor) !important;
  }

  /* Media page */
  .alert-warning {
    background-color: #3a2f1a !important;
    border-color: #3a2f1a !important;
  }

  .alert-info {
    background-color: #233b46 !important;
    border-color: var(--dividerColor) !important;
  }

  .media-info {
    background-color: var(--background) !important;
  }

  /* Whats Next */
  .whats-next up-next {
    background: var(--backgroundLight) !important;
    border: none !important;
  }
  .whats-next up-next span.title,
  span.time,
  span.location {
    color: var(--textColor) !important;
  }

  /* Exam Countdown */
  exam-countdown {
    background: var(--backgroundLight) !important;
    border: none !important;
  }
  exam-countdown span,
  time {
    color: var(--textColor) !important;
  }

  /* Surveys */
  card-list article {
    background: var(--backgroundLight) !important;
    border: none !important;
  }

  card-list article .alert-info {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }
  card-list article p {
    color: var(--textColor) !important;
  }

  card-list iframe {
    filter: invert(1);
  }

  .view-summary {
    color: var(--textColor);
  }

  p.edx-info {
    color: var(--textSecondaryColor) !important;
  }

  /* User profile */
  user-profile-card {
    background-color: var(--backgroundLight) !important;
  }

  /* Module search */
  .filters,
  .criteria,
  .module-type {
    background-color: var(--backgroundLight) !important;
  }

  /* Notifications */
  .alerts .pinned-news h3,
  .alerts .notifications h3 {
    background-color: var(--backgroundLight) !important;
  }

  .alerts .pinned-news h3,
  .alerts .pinned-news .notification-item,
  .alerts .notifications .notification-item {
    border-color: var(--dividerColor) !important;
  }

  /* Dialogs */
  .modal-dialog .modal-content,
  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-body,
  .modal-dialog .modal-content .modal-footer {
    background-color: var(--backgroundLight) !important;
  }

  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-footer {
    border-color: var(--dividerColor) !important;
  }

  /* Quiz */
  .full-screen-splash {
    background-color: var(--background) !important;
  }

  .full-screen-splash span,
  .closing-section > span {
    color: var(--textColor) !important;
  }

  #print-section {
    background-color: var(--background) !important;
  }

  .closing-section,
  .feedback-section {
    background-color: transparent !important;
  }

  .legend-section,
  .full-screen-footer {
    background: var(--backgroundLight) !important;
    border: none !important;
  }

  .section-title {
    border-color: var(--dividerColor) !important;
  }

  .full-screen-header {
    background-color: var(--backgroundLight) !important;
    border: none !important;
  }

  .question-container {
    background: var(--backgroundLight) !important;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--dividerColor) !important;
  }
  .connector {
    stroke: var(--dividerColor) !important;
    stroke-width: 1 !important;
  }

  .option-container {
    background-color: var(--backgroundLightHalf) !important;
    border-color: var(--dividerColor) !important;
  }
  .option-container span {
    color: var(--textColor) !important;
  }

  .danger-message {
    background: var(--background);
  }

  .message-base,
  .danger-message,
  .success-message,
  .warning-message {
    border: 1px solid var(--dividerColor) !important;
    border-radius: 2px;
  }

  .question-feedback-header,
  .question-solution-header,
  .response-rationale-header {
    background: var(--activeBackground) !important;
  }

  .question-feedback,
  .question-solution,
  .response-rationale {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  quiz-question-view .question-header div[mathjax] img {
    filter: invert() contrast(0.9) !important;
  }

  quiz-question-view .question-type div[mathjax] img {
    filter: invert() contrast(0.8) brightness(1.3) !important;
  }

  quiz-question-view form:before,
  poll-question-mcq form:before {
    border-bottom-color: var(--dividerColor) !important;
  }

  quiz-question-view form:after,
  poll-question-mcq form:after {
    border-bottom-color: var(--backgroundLight) !important;
  }

  .option {
    background-color: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  .option-bar {
    background-color: var(--selectedBackground) !important;
  }

  .option .percentage {
    background-color: var(--hoveredBackground) !important;
  }

  .option-correct {
    background-color: rgba(51, 179, 102, 0.3) !important;
  }

  .option-incorrect {
    background-color: rgba(200, 33, 40, 0.25) !important;
  }

  .question-feedback-header > span,
  .question-solution-header > span,
  .response-rationale-header > span {
    color: var(--textColor) !important;
  }

  icon[name="comment"] {
    filter: invert();
  }

  publish-status icon {
    filter: invert() !important;
  }

  .option .radio input + span:before {
    background: var(--backgroundLight) !important;
  }
  .option .radio input:checked + span:before {
    border-color: var(--backgroundLight) !important;
    background: #44bc42 !important;
  }

  .rich-html {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }
  .option .checkbox input:not(:checked) + span:before {
    background: var(--background) !important;
    border: 1px solid var(--dividerColor) !important;
  }

  /* Forums */
  @media (min-width: 1200px) {
    section header > div:last-child:not(.section-right):not(.tools) {
      background-color: var(--background) !important;
    }
    section list-view-item small span {
      color: var(--textSecondaryColor) !important;
    }
  }

  @media (min-width: 768px) {
    section tool-layout div list-view .align-top {
      background: var(--backgroundLight) !important;
      border-color: var(--dividerColor) !important;
    }
    section tool-layout div list-view .div.heading-description {
      background: var(--background) !important;
    }
    .hide-header .bd list-view-item:first-of-type > :last-child {
      border-top: 1px solid var(--dividerColor) !important;
    }
    section tool-layout div list-view-item column.photo,
    column.lump,
    column.replyCount,
    column.viewCount,
    column.latestPost,
    column.pin {
      border-bottom: 1px solid var(--dividerColor) !important;
    }
  }

  tool-content div .alert-info {
    background-color: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  ng-component div.posts {
    background: var(--backgroundLight) !important;
  }
  ng-component article.post {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }
  ng-component article.post .show-scroll,
  .border-line {
    border-color: var(--dividerColor) !important;
  }
  ng-component article.post {
    background: var(--background) !important;
  }
  ng-component section div posting .details {
    background: var(--backgroundLight) !important;
  }
  :not(aside):not(.date-filter):not(question-view-mcq):not(question-view-ess):not(question-view-fib):not(question-view-tof):not(question-view-mrq):not(header)
    > form {
    background: var(--background) !important;
  }

  .input .valid-number {
    background-color: var(--backgroundLight) !important;
  }
  .cke_chrome {
    filter: invert(1) !important;
  }
  .cke_chrome span {
    color: var(--invertedTextWhite) !important;
  }

  /* Web Lecture */
  section div list-view-item list-view-tools {
    background: var(--backgroundLight) !important;
    border-color: var(--dividerColor) !important;
  }

  /* Surveys */
  .full-screen-body {
    background: var(--background) !important;
  }

  /* Quiz Answers */

  .answer-fib {
    background-color: var(--background) !important;
  }
}
